/* font */
@import 'https://fonts.googleapis.com/css?family=Lato';

*{
  margin: 0;
  padding: 0;
}

body {
  background:black;
  max-width: 100%;
  font-family: 'Lato', sans-serif;
}

nav {
  font-size: 1.5em;
  width: 100%;
  padding: 20px 0 20px 0;
  display: table;
  /*background-color:rgba(0, 0, 0, 0.5);*/
  background-color: white;

}

nav ul {
  list-style: none;
  display: table-row;

}

#banner {
  display: table-cell;
  margin: auto;
  background-color: blue;
  text-align: center;
}

nav li {
  text-align: center;
  display: table-cell;
  margin: auto;

}

nav li a {
  color: black;
  text-decoration: none;

}

nav li:hover a {
  color: #0D67C1;
  text-decoration: none;
  transition: 0.75s;

}

main {
  max-width: 100%;
  background: no-repeat fixed;
  background-size: cover;
}

#logo_frame {
  background: rgba(0, 0, 0, 0.45);
  width: 50%;
  max-height: 360px;
  max-width: 525px;
  margin-left:auto;
  margin-right: auto;
  padding-top: 20px;
}

img#logo_main {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

#wrapper {
  padding-top: 12.5%;
  padding-bottom: 12.5%;
}
section#welcome {
  /*background-image: url("images/backgrounds/ny_2.jpeg");*/
  background-size: cover;
  background-attachment: fixed;
}

section#welcome h1 {
  color: white;
  font-size: 2.5em;
  font-weight: lighter;
  text-align: center;
}

section#welcome p {
  color: white;
  font-size: 1.25em;
  font-weight: lighter;
  text-align: center;
  padding-bottom: 20px;
}
