/* font */
@import 'https://fonts.googleapis.com/css?family=Lato';

*{
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
  font-family: 'Lato', sans-serif;
}

header {
  border-bottom: 10px solid black;
}

nav {
  font-size: 1.5em;
  float: right;
  width: 88%;
  padding-top:20px;
  display: table;
  min-height: 55px ;
  /*background-color:rgba(0, 0, 0, 0.5);*/
  background-color: white;

}

nav ul {
  list-style: none;
  display: table-row;

}

#banner {
  display: inline-block;
  float: left;
  width: 12%;
  padding-top: 20px;
  min-height: 55px ;
  background-color: rgba(0, 35, 102, 0.95);
}

#banner>h1 {
  text-align: center;
  color: white;
  padding: 0 15px 0 15px;
}

nav li {
  text-align: center;
  display: table-cell;
  margin: auto;

}

nav li a {
  color: black;
  text-decoration: none;

}

nav li:hover a {
  color: #0D67C1;
  text-decoration: none;
  transition: 0.75s;

}

main {
  max-width: 100%;
  background: no-repeat fixed;
  background-size: cover;
}

#logo_frame {
  background: rgba(0, 0, 0, 0.45);
  width: 50%;
  max-height: 360px;
  max-width: 525px;
  margin-left:auto;
  margin-right: auto;
  padding-top: 20px;
}

img#logo_main {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

#wrapper {
  padding-top: 12.5%;
  padding-bottom: 12.5%;
  background-color: rgba(0, 0, 0, 1);
}
section#welcome {
  /*background-image: url("images/backgrounds/ny_2.jpeg");*/
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 1);
}

section#welcome h1 {
  color: white;
  font-size: 2.5em;
  font-weight: lighter;
  text-align: center;
}

section#welcome p {
  color: white;
  font-size: 1.25em;
  font-weight: lighter;
  text-align: center;
  padding-bottom: 20px;
}

#featured_listings_whole {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

#featured_listings_wrapper{
  display: table;
  width: 80%;
  margin: auto;

}

#featured_listings_whole>p {
  text-align: center;
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
  display: block;

}
section#featured_listings {
  list-style: none;
  display: table-row;
  width: 100%;
}

section#listings_block {
  display: table-cell;
  margin: auto;
}

img#listings_block_img{
  margin: auto;
  display: block;
  max-width: 256px;
  max-height: 256px;
  border: 5px solid white;
}
